.kanban-paper{
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding-top: 11px;
  padding-bottom: 11px;

  &.red{
    background: #d61f1f;
  }
  &.green{
    background: #1fd6a7;
  }
  &.blue{
   background: #1f5cd6;
  }
  &.gray{
    background: #525252
  }
}